<div class="row">
  <div class="col-md-6 col-sm-12">
    <div class="breadcrumb">
      <h1>Painel Administrativo</h1>
      <ul>
        <li>Cadastro de Migrações</li>
      </ul>
    </div>
  </div>

  <div class="col-md-6 col-sm-12">
    <div class="float-right">
      <button type="button" [routerLink]="['/painel-adm/pesquisa-usuarios-public']"
              class="btn btn-info m-1" style="float: right">Pesquisa
      </button>
    </div>
  </div>
</div>


<div class="separator-breadcrumb border-top"></div>

<div class="row">
  <div class="col-md-12">
    <div class="card mb-4">
      <div class="card-body">
        <div class="card-title mb-3">Dados do Novo Usuário</div>
        <form [formGroup]="usuarioForm" (validSubmit)="salvar()">
          <div class="row">
            <div class="col-md-12 col-sm-12 form-group mb-3">
              <label>Nome</label>
              <input class="form-control form-control-rounded"
                     placeholder="Nome Completo" formControlName="nome" autofocus>
            </div>
            <div class="col-md-3 col-sm-12 form-group mb-3">
              <label>E-mail</label>
              <input class="form-control form-control-rounded"
                     placeholder="email@exemplo.com.br" formControlName="email">
            </div>
            <div class="col-md-3 col-sm-12 form-group mb-3">
              <label>CPF</label>
              <input class="form-control form-control-rounded" mask="000.000.000-00"
                     placeholder="000.000.000-00" formControlName="cpf">
            </div>
            <div class="col-md-3 col-sm-12 form-group mb-3">
              <label>Telefone</label>
              <input class="form-control form-control-rounded"
                     placeholder="(00) 00000-0000"
                     mask="(00) 00000-0000"
                     formControlName="fone">
            </div>
            <div class="col-md-3 col-sm-12 form-group mb-3">
              <label>&nbsp;</label>
              <label class="checkbox checkbox-success">
                <input type="checkbox" formControlName="flagativo">
                <span>Ativo</span>
                <span class="checkmark"></span>
              </label>
            </div>

            <div class="col-md-12">
              <button type="submit" class="btn btn-success btn-rounded" style="float: right" [disabled]="isSubmited">
                Salvar
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
