<div class="card" style="margin-bottom: 12px;">
  <div class="card-body">
    <div class="row">
      <div class="col-sm-12 col-md-6 text-center">
        <p>Clique no botão ao lado para adicionar uma Seguradora.</p>
      </div>
      <div class="col-sm-12 col-md-6 text-center">
        <button type="button" class="btn btn-success btn-rounded" (click)="adicionarSeguradora()">Adicionar</button>
      </div>
    </div>

    <div class="row" *ngIf="seglist?.controls?.length > 0">
      <div class="col-12">
        <div class="row">
          <div class="col-sm-12 col-md-10">
            Seguradora
          </div>
          <div class="col-sm-12 col-md-2 text-center">
            Ações
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="seglist?.controls?.length > 0">
      <div class="col-12" *ngFor="let seg of seglist.controls" style="padding-bottom: 12px;">
        <div class="row">
          <div class="col-sm-12 col-md-10" *ngIf="seg.valid">
            {{ seg.get('seguradora')?.value?.nomeseguradora }}
          </div>
          <div class="col-sm-12 col-md-10" *ngIf="seg.invalid">
            <span class="badge badge-pill badge-danger p-2 mr-1">Seguradora Inválida! Edite-a para corrigir o problema.</span>
          </div>
          <div class="col-sm-12 col-md-2 col-sm-12 text-center">
            <button type="button" (click)="abrirModalSeguradora(seg)"
                    class="btn btn-info btn-rounded" ngbTooltip="Editar Seguradora"><i class="i-Edit"></i></button>&nbsp;
            <button type="button" (click)="removerSeguradora(seg)"
                    class="btn btn-danger btn-rounded" ngbTooltip="Remover Seguradora"><i class="i-Remove"></i>
            </button>&nbsp;
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
