<div class="">
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <div class="breadcrumb">
        <h1>Usuário</h1>
        <ul>
          <li>Pesquisa</li>
        </ul>
      </div>
    </div>

    <div class="col-md-6 col-sm-12">
      <div class="float-right">
        <button type="button" [routerLink]="['/usuario/cadastro']" [disabled]="!auth.hasAuthority('ROLE_CADASTRAR_USUARIO')"
                class="btn btn-success m-1" style="float: right">Novo
        </button>
      </div>
    </div>
  </div>

  <div class="separator-breadcrumb border-top"></div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <!-- TODO: Filtros aqui. -->
    </div>

  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card o-hidden">
        <app-table [data]="usuarios"
                   [columns]="cols"
                   [actions]="actions"
                   [externalPaging]="true"
                   [count]="paginatorLength"
                   [colActionWidth]="150"
                   (actionPerformed)="actionPerformed($event)"
                   (page)="onPageChange($event)"></app-table>
      </div>
    </div>
  </div>

</div>
